@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

/* to make footer fixed to that */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
}

.main-content {
  flex: 1;
}